@import 'variables';

.app {
  width: 100%;
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 6rem 0 0;
  font-family: 'Source Sans Pro', sans-serif;

  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    .navigation {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      background-color: $black;
      height: 4rem;

      .user {
        margin-left: auto;
        margin-right: 2rem;
        position: relative;

        button {
          font-size: 1rem;
          cursor: pointer;
          background: none;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 .5rem;
          height: 100%;
          color: #fff;
          font-family: 'Source Sans Pro', sans-serif;
          outline: none;

          .fa-caret-down {
            margin-left: .5rem;
          }

          .user-image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            margin-left: .5rem;
            overflow: hidden;
            opacity: .8;

            &.icon {
              border: 2px solid $white;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .user-menu {
          position: absolute;
          top: 100%;
          right: 0;
          background: #fff;
          width: 100%;
          border-radius: 0 0 5px 5px;
          border: 1px solid rgba($black, .3);
          border-top: none;
          visibility: hidden;
          opacity: 0;
          transition: all .2s;

          &.active {
            visibility: visible;
            opacity: 1;
          }

          ul {
            list-style: none;
            padding: 0;

            li {
              border-bottom: 1px solid rgba($black, .1);

              a {
                display: block;
                padding: .5rem;
                text-align: right;
                color: rgba($black, .9);
                text-decoration: none;
                transition: background .3s;

                &:hover {
                  background: rgba($black, .05);
                }
              }

              &:last-child {
                border: none;
              }
            }
          }
        }
      }
    }

    .tabs {
      display: flex;
      justify-content: space-around;
      .tab {
        flex: 1;
        margin: 0 3rem;
        padding: .7rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        background-color: $black;
        font-variant: small-caps;
        font-weight: bold;
        font-size: 1.5rem;
        color: $offwhite;
        box-shadow: inset 0px 0px 0px -2px $green;
        transition: box-shadow .4s;

        &:hover {
          box-shadow: inset 0px -4px 0px -2px rgba($green, .5);
        }

        &.active {
          box-shadow: inset 0px -4px 0px -2px $green;
        }
      }
    }

    .page-wrap {
      flex: 1;
      background-color: $pageBackground;
      border: 2px solid $black;
      border-bottom: none;
      color: $white;
      display: flex;
      flex-direction: column;

      .config-options {
        padding: 1rem 1rem 0;
        .Select {
          width: 49%;
          float: left;

          &:nth-child(even) {
            float: right;
          }

          .Select-control {
            background: none;
            border: rgba($white, .7) solid 1px;

            .Select-input {
              >input {
                color: $white;
              }
              &:focus {
                background: none;
              }
            }

            .Select-value-label {
              color: $white !important;
              font-size: 1.2rem;
            }

            .Select-arrow {
              border-color: rgba($white, .7) transparent transparent;
            }
          }
          &.is-open .Select-arrow {
            border-color: transparent transparent rgba($white, .7);
          }
        }
      }

      .page {
        overflow-y: auto;
        flex: 1;

        .page-content {
          padding: 2rem 1rem;
          opacity: 1;
          transition: opacity .3s linear;

          &.hidden {
            opacity: 0;
          }

          .results {
            list-style: none;
            padding: 0;
            counter-reset: li;

            >li {
              position: relative;
              margin-left: 6rem;

              &:before {
                content: counter(li);
                counter-increment: li;
                position: absolute;
                left: -6rem;
                font-size: 6rem;
                font-weight: bold;
                color: rgba($white, .3);
              }

              .list-item {
                display: flex;
                text-align: right;
                padding: 0 1rem;
                margin-bottom: 2.5rem;

                .list-text {
                  flex: 1;
                  margin-right: 1rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;

                  .name {
                    font-weight: bold;
                    font-size: 1.2rem;

                    span {
                      display: inline-block;
                      position: relative;

                      &:after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: $white;
                      }
                    }
                  }

                  .genres.none {
                    font-style: italic;
                    color: rgba($white, .6);
                  }
                }
                .image {
                  margin-left: auto;
                }
              }
            }


            a {
              color: $white;
            }
          }

          .view-more {
            display: block;
            cursor: pointer;
            font-weight: bold;
            color: $white;
            background: none;
            border: 1px $white solid;
            border-radius: 4px;
            padding: 1rem 5rem;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .login {
    .login-window {
      visibility: hidden;
      opacity: 0;
      transition: all .3s;
    }

    &.active .login-window {
      visibility: visible;
      opacity: 1;
    }
  }
}