$black: #191414;
$white: #ffffff;
$green: #1DB954;
$pageBackground: rgba( $black ,.6);

.app {
  width: 100%;
  height: 100%;
  padding: 6rem 0 0;
  font-family: 'Open Sans', sans-serif;

  .navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: $black;
    height: 4rem;

    .user {
      margin-left: auto;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        height: 100%;
        color: #fff;
      }
    }
  }

  .page-wrap {
    height: 100%;
    width: 70vw;
    margin: 0 auto;
    background-color: $pageBackground;
    border: 2px solid $black;
    border-bottom: none;
    color: $white;
    display: flex;
    flex-direction: column;

    .config-options {
      padding: 1rem;
      display: flex;
      border-bottom: 2px solid $black; 
      .Select {
        flex: 1;
        .Select-control {
          background: none;
          border: rgba($white, .7) solid 1px;

          .Select-input>input {
            color: $white;
          }

          .Select-value-label {
            color: $white !important;
          }

          .Select-arrow {
            border-color: rgba($white, .7) transparent transparent;
          }
        }
        &.is-open .Select-arrow {
          border-color: transparent transparent rgba($white, .7);
        }
      }
    }

    .page {
      overflow-y: auto;
      flex: 1;

      .page-content {
        padding: 2rem 1rem;

        .results {
          list-style: none;
          padding: 0;
          counter-reset: li;

          >li {
            position: relative;
            margin-left: 4rem;

            &:before {
              content: counter(li);
              counter-increment: li;
              position: absolute;
              left: -4rem;
              font-size: 6rem;
              font-weight: bold;
              color: rgba($white, .5);
            }

            .list-item {
              display: flex;
              text-align: right;
              padding: 0 1rem;
              margin-bottom: 2.5rem;

              .list-text {
                flex: 1;
                margin-right: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .name {
                  font-weight: bold;

                  span {
                    display: inline-block;
                    position: relative;

                    &:after {
                      content: '';
                      width: 100%;
                      height: 1px;
                      position: absolute;
                      top: 100%;
                      left: 0;
                      background-color: $white;
                    }
                  }
                }
              }

              .album-art {
                width: 10rem;
                height: 10rem;
                margin-left: auto;
              }
            }
          }


          a {
            color: $white;
          }
        }

        .view-more {
          display: block;
          cursor: pointer;
          font-weight: bold;
          color: $white;
          background: none;
          border: 1px $white solid;
          border-radius: 4px;
          padding: 1rem 5rem;
          margin: 0 auto;
        }
      }
    }
  }
}