$black: #191414;
$white: #ffffff;
$offwhite: #eeeeee;
$green: #1DB954;
$pageBackground: rgba( $black ,.6);

.app {
  width: 100%;
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 6rem 0 0;
  font-family: 'Source Sans Pro', sans-serif;

  .navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: $black;
    height: 4rem;

    .user {
      margin-left: auto;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        height: 100%;
        color: #fff;
      }
    }
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    .tab {
      flex: 1;
      margin: 0 3rem;
      padding: .7rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      background-color: $black;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 1.5rem;
      color: $offwhite;
      box-shadow: inset 0px 0px 0px -2px $green;
      transition: box-shadow .4s;

      &:hover {
        box-shadow: inset 0px -4px 0px -2px rgba($green, .5);
      }

      &.active {
        box-shadow: inset 0px -4px 0px -2px $green;
      }
    }
  }

  .page-wrap {
    flex: 1;
    background-color: $pageBackground;
    border: 2px solid $black;
    border-bottom: none;
    color: $white;
    display: flex;
    flex-direction: column;

    .config-options {
      padding: 1rem 1rem 0;
      .Select {
        width: 49%;
        float: left;

        &:nth-child(even) {
          float: right;
        }

        .Select-control {
          background: none;
          border: rgba($white, .7) solid 1px;

          .Select-input {
            >input {
              color: $white;
            }
            &:focus {
              background: none;
            }
          }

          .Select-value-label {
            color: $white !important;
            font-size: 1.2rem;
          }

          .Select-arrow {
            border-color: rgba($white, .7) transparent transparent;
          }
        }
        &.is-open .Select-arrow {
          border-color: transparent transparent rgba($white, .7);
        }
      }
    }

    .page {
      overflow-y: auto;
      flex: 1;

      .page-content {
        padding: 2rem 1rem;

        .results {
          list-style: none;
          padding: 0;
          counter-reset: li;

          >li {
            position: relative;
            margin-left: 4rem;

            &:before {
              content: counter(li);
              counter-increment: li;
              position: absolute;
              left: -4rem;
              font-size: 6rem;
              font-weight: bold;
              color: rgba($white, .5);
            }

            .list-item {
              display: flex;
              text-align: right;
              padding: 0 1rem;
              margin-bottom: 2.5rem;

              .list-text {
                flex: 1;
                margin-right: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .name {
                  font-weight: bold;
                  font-size: 1.2rem;

                  span {
                    display: inline-block;
                    position: relative;

                    &:after {
                      content: '';
                      width: 100%;
                      height: 1px;
                      position: absolute;
                      top: 100%;
                      left: 0;
                      background-color: $white;
                    }
                  }
                }

                .genres.none {
                  font-style: italic;
                  color: rgba($white, .6);
                }
              }
              .image {
                margin-left: auto;
              }
            }
          }


          a {
            color: $white;
          }
        }

        .view-more {
          display: block;
          cursor: pointer;
          font-weight: bold;
          color: $white;
          background: none;
          border: 1px $white solid;
          border-radius: 4px;
          padding: 1rem 5rem;
          margin: 0 auto;
        }
      }
    }
  }
}