.app {
  width: 100%;
  height: 100%;
  padding: 6rem 0 0;
  font-family: 'Open Sans', sans-serif;
}
.app .navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: #191414;
  height: 4rem;
}
.app .navigation .user {
  margin-left: auto;
}
.app .navigation .user a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  height: 100%;
  color: #fff;
}
.app .page-wrap {
  height: 100%;
  width: 70vw;
  margin: 0 auto;
  background-color: rgba(25, 20, 20, 0.6);
  border: 2px solid #191414;
  border-bottom: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.app .page-wrap .config-options {
  padding: 1rem;
  display: flex;
  border-bottom: 2px solid #191414;
}
.app .page-wrap .config-options .Select {
  flex: 1;
}
.app .page-wrap .config-options .Select .Select-control {
  background: none;
  border: rgba(255, 255, 255, 0.7) solid 1px;
}
.app .page-wrap .config-options .Select .Select-control .Select-input > input {
  color: #ffffff;
}
.app .page-wrap .config-options .Select .Select-control .Select-value-label {
  color: #ffffff !important;
}
.app .page-wrap .config-options .Select .Select-control .Select-arrow {
  border-color: rgba(255, 255, 255, 0.7) transparent transparent;
}
.app .page-wrap .config-options .Select.is-open .Select-arrow {
  border-color: transparent transparent rgba(255, 255, 255, 0.7);
}
.app .page-wrap .page {
  overflow-y: auto;
  flex: 1;
}
.app .page-wrap .page .page-content {
  padding: 2rem 1rem;
}
.app .page-wrap .page .page-content .results {
  list-style: none;
  padding: 0;
  counter-reset: li;
}
.app .page-wrap .page .page-content .results > li {
  position: relative;
  margin-left: 4rem;
}
.app .page-wrap .page .page-content .results > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -4rem;
  font-size: 6rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}
.app .page-wrap .page .page-content .results > li .list-item {
  display: flex;
  text-align: right;
  padding: 0 1rem;
  margin-bottom: 2.5rem;
}
.app .page-wrap .page .page-content .results > li .list-item .list-text {
  flex: 1;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.app .page-wrap .page .page-content .results > li .list-item .list-text .name {
  font-weight: bold;
}
.app .page-wrap .page .page-content .results > li .list-item .list-text .name span {
  display: inline-block;
  position: relative;
}
.app .page-wrap .page .page-content .results > li .list-item .list-text .name span:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
}
.app .page-wrap .page .page-content .results > li .list-item .album-art {
  width: 10rem;
  height: 10rem;
  margin-left: auto;
}
.app .page-wrap .page .page-content .results a {
  color: #ffffff;
}
.app .page-wrap .page .page-content .view-more {
  display: block;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  background: none;
  border: 1px #ffffff solid;
  border-radius: 4px;
  padding: 1rem 5rem;
  margin: 0 auto;
}
