@import 'variables';

.login-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($black,.5);

  .login-wrap {
    width: 30rem;
    height: 35rem;
    background: $black;
    border-radius: 7px;
    box-shadow: 0 0 15px 6px rgba($black, .6);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: $white;
    text-align: center;

    h1 {
      font-family: 'Vollkorn', serif;
    }

    p {
      margin: auto 0;
    }

    .login-button {
      margin-top: auto;
      border: none;
      background: $green;
      border-radius: 5px;
      cursor: pointer;
      color: $white;
      padding: .8rem 0;
      font-size: 1.2rem;
      font-weight: bold;
      transition: background .3s;
      outline: 0;
      font-family: 'Source Sans Pro', sans-serif;
      text-decoration: none;

      &:hover {
        background: #118e3d;
      }
    }
  }
}