.menu {
  margin-right: auto;
  margin-left: .5rem;
}
@media screen and (min-width: 576px) {
  .menu {
    margin-left: 2rem;
    min-width: 12.7rem;
    position: relative;
  }
}
.menu button {
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
  height: 100%;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
}
.menu button .menu-text {
  display: none;
  margin-left: .5rem;
}
@media screen and (min-width: 576px) {
  .menu button .menu-text {
    display: inline;
  }
}
.menu button .menu-text .fa-caret-down {
  margin-left: .5rem;
}
.menu button .menu-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  opacity: .8;
}
.menu button .menu-image.icon {
  border: 2px solid #ffffff;
}
.menu .main-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #191414;
  width: 100%;
  min-width: 15rem;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
}
@media screen and (min-width: 576px) {
  .menu .main-menu {
    background: #ffffff;
    border: 1px solid rgba(25, 20, 20, 0.3);
    border-top: none;
  }
}
.menu .main-menu.active {
  visibility: visible;
  opacity: 1;
}
.menu .main-menu ul {
  list-style: none;
  padding: 0;
}
.menu .main-menu ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 576px) {
  .menu .main-menu ul li {
    border-bottom: 1px solid rgba(25, 20, 20, 0.1);
  }
}
.menu .main-menu ul li a {
  cursor: pointer;
  display: block;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  transition: background .3s;
}
@media screen and (min-width: 576px) {
  .menu .main-menu ul li a {
    color: rgba(25, 20, 20, 0.9);
    padding: .5rem;
  }
}
.menu .main-menu ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
}
@media screen and (min-width: 576px) {
  .menu .main-menu ul li a:hover {
    background: rgba(25, 20, 20, 0.05);
  }
}
.menu .main-menu ul li a span {
  color: rgba(25, 20, 20, 0.4);
  position: absolute;
  right: .8rem;
}
.menu .main-menu ul li:last-child {
  border: none;
}
