@import 'variables';

.modal-wrap {
  height: 100%;
  margin: 0 auto;

  width: 95%;
  @media screen and (min-width: 576px) {
    width: 558px;
  }
  @media screen and (min-width: 768px) {
    width: 744px;
  }
  @media screen and (min-width: 992px) {
    width: 976px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }

  .modal-page {
    height: 100%;
    background: $black;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px 0px rgba($black, .5);
    color: $white;

    .modal-close {
      position: absolute;
      right: 1rem;
      top: .5rem;
      border: none;
      background: none;
      padding: .5rem;
      color: rgba($white, .6);
      cursor: pointer;
    }

    .modal-content {
      height: 100%;
      padding: 1rem 3rem;
      overflow-y: auto;
    }

    .simplebar-track.vertical .simplebar-scrollbar::before {
      background: $white;
    }
  }
}